
.landingImage {
  background-image: url("./assets/thisone3.jpg");
  height: 93vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  align-items: center;
  position: relative;
}

a {
  text-decoration:none;
}